@font-face {
  font-family: 'Pacifico';
  src: url('/public/font/Pacifico-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'UniDream LED';
  src: url('/public/font/UniDream LED Regular.ttf') format('truetype');
}
